<h1>This is our Index page</h1>

<% @articles.each do |article| %>
<p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= render "article", article: article %>
    
    <a href="<%= article_path(article.id) %>" class="card-link">More details</a>
    
  </div>
</div>
</p>
<% end %>

<%= link_to "New", new_article_path %>