<%
    article=@article
%>
<h1><%= article.title %></h1>

<p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.content %></p>
    <a href="../articles" class="card-link">Back</a>
    <%= link_to "Back", root_path() %>
  </div>
</div>
</p>
